
ion-content {
  --overflow: hidden;
  overflow: auto;
  --background: #000000;
  color: white;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* HOMEPAGE */

ion-footer {
  background-color: #000000;
  height: 70px;
}
ion-grid {
  height: 100%;
}
.row-title {
  height: 55%;
}
ion-img.title {
  width: 250px;
  margin: auto;
  z-index: 10;
}
.menu {
  border-radius: 2rem;
  padding: 0.4em;
  animation: pulsate 1.6s infinite alternate;
  background-color: #000000;
}
.menu ion-button {
  height: 45px;
}

/* GAMEPAGE */

#gameCanvas {
  background-color: #000000;
}

/* SHOOTING STARS */

.shooting-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.shooting-stars span {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 0;
  border-radius: 50%;
  box-shadow: 
    0 0 0 1px rgba(255, 255, 255, 0.1), 
    0 0 0 3px rgba(255, 255, 255, 0.1), 
    0 0 6px rgba(255, 255, 255, 0.1);
  animation-iteration-count: infinite;
  opacity: 0;
}

.shooting-stars span::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 300px;
  height: 1px;
  transform: translateY(-50%);
}

@keyframes animateStarToLeft {
  0% { transform: rotate(360deg) translateX(0); opacity: 1; }
  70% { opacity: 1; }
  100% { transform: rotate(360deg) translateX(-1000px); opacity: 0; }
}

@keyframes animateStarToRight {
  0% { transform: rotate(180deg) translateX(0); opacity: 1; }
  70% { opacity: 1; }
  100% { transform: rotate(180deg) translateX(-1000px); opacity: 0; }
}

/* Star variations */
.shooting-stars span:nth-child(1) {
  background: #ff0022;
  top: 20px;
  animation: moveStar 10s linear 0s infinite;
}
.shooting-stars span:nth-child(2) {
  background: #00f7ff;
  top: 80px;
  animation: moveStar 9s linear 5s infinite;
}
.shooting-stars span:nth-child(3) {
  background: #ff00d4;
  top: 50%;
  animation: moveStar 9s linear 2s infinite;
}
.shooting-stars span:nth-child(4),
.shooting-stars span:nth-child(5) {
  background: #000dff;
  right: initial;
  left: 0;
  animation-name: animateStarToRight;
}
.shooting-stars span:nth-child(4) {
  top: calc(100% - 80px);
  animation: moveStar 5s linear 5s infinite;
}
.shooting-stars span:nth-child(5) {
  top: 25%;
  animation: moveStar 8s linear 3s infinite;
}

@keyframes moveStar {
  0% { transform: translateY(0); opacity: 0; }
  70% { opacity: 1; }
  100% { transform: translateY(-1000px); opacity: 0; }
}

@keyframes pulsate {
  100% {
    box-shadow:
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 1rem var(--ion-color-primary),
      0 0 0.5rem var(--ion-color-primary),
      0 0 2rem var(--ion-color-primary),
      inset 0 0 1.3rem var(--ion-color-primary);
  }
  0% {
    box-shadow:
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 1.5rem var(--ion-color-primary),
      0 0 0.9rem var(--ion-color-primary),
      0 0 2.9rem var(--ion-color-primary),
      inset 0 0 1.4rem var(--ion-color-primary);
  }
}
