
ion-content {
  --overflow: hidden;
  overflow: auto;
  --background: #000000;
  color: white;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* HOMEPAGE */

ion-footer {
  background-color: #000000;
}
ion-grid {
  height: 100%;
}
.row-title {
  height: 55%;
}
ion-img.title {
  width: 250px;
  margin: auto;
}
.menu {
  border-radius: 2rem;
  padding: 0.4em;
  animation: pulsate 1.6s infinite alternate;
  background-color: #000000;
}
.menu ion-button {
  height: 45px;
}

/* GAMEPAGE */

#gameCanvas {
  background-color: #000000;
}

/* SHOOTING STARS */

.shooting-stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.shooting-stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.1), 0 0 0 3px rgba(255,255,255,0.1), 0 0 6px rgba(255,255,255,0.1);
}
.shooting-stars span::before {
  content:'';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
}
/* First star */
.shooting-stars span:nth-child(1) {
  width: 6px;
  height: 6px;
  background: #ff0022;
}
.shooting-stars span:nth-child(1)::before {
  background: linear-gradient(90deg, #ff0022, transparent);
}
span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation: animateStar1 6s linear infinite;
}
/* Second star */
.shooting-stars span:nth-child(2) {
  width: 8px;
  height: 8px;
  background: #00f7ff;
}
.shooting-stars span:nth-child(2)::before {
  background: linear-gradient(90deg, #00f7ff, transparent);
}
span:nth-child(2) {
  top: 80px;
  right: initial;
  left: 0;
  animation: animateStar3 9s linear infinite;
}
/* Third star */
.shooting-stars span:nth-child(3) {
  width: 8px;
  height: 8px;
  background: #ff00d4;
}
.shooting-stars span:nth-child(3)::before {
  background: linear-gradient(90deg, #ff00d4, transparent);
}
span:nth-child(3) {
  top: 50%;
  right: initial;
  left: 0;
  animation: animateStar2 12s linear infinite;
}

@keyframes animateStar1
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
@keyframes animateStar2
{
    0%
    {
        transform: rotate(180deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(180deg) translateX(-1000px);
        opacity: 0;
    }
}
@keyframes animateStar3
{
    0%
    {
        transform: rotate(555deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(555deg) translateX(-1000px);
        opacity: 0;
    }
}

@keyframes pulsate {
  100% {
    box-shadow:
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 1rem var(--ion-color-primary),
      0 0 0.5rem var(--ion-color-primary),
      0 0 2rem var(--ion-color-primary),
      inset 0 0 1.3rem var(--ion-color-primary);
  }
  0% {
    box-shadow:
      0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 1.5rem var(--ion-color-primary),
      0 0 0.9rem var(--ion-color-primary),
      0 0 2.9rem var(--ion-color-primary),
      inset 0 0 1.4rem var(--ion-color-primary);
  }
}
