:root {
  /** primary **/
	--ion-color-primary: hsl(21, 97%, 56%);
	--ion-color-primary-contrast: hsl(21, 97%, 26%);

  /** secondary **/
	--ion-color-secondary: hsl(328, 100%, 54%);
	--ion-color-secondary-contrast: hsl(328, 100%, 24%);

  /** tertiary **/
  --ion-color-tertiary: hsl(60, 100%, 70%);
  --ion-color-tertiary-contrast: hsl(60, 100%, 40%);

  /** four **/
  --ion-color-four: hsl(282, 90%, 63%);
  --ion-color-four-contrast: hsl(282, 90%, 23%);
}
